/* *,
*:before,
*:after {
  box-sizing: border-box;
} */

aside {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 8px;
}

dl {
  display: flex;
  justify-content: space-between;
}

dd {
  text-align: right;
}

dt,
dd {
  max-width: 75%;
}

dt + dd {
  margin-left: 8px;
}
/* 
label:not([for]) {
  display: block;
}

label:not([for]) > input,
label:not([for]) > textarea,
label:not([for]) > button,
label:not([for]) > p,
label:not([for]) > span,
label:not([for]) > select {
  width: 100%;
}

h4,
h5,
h6 {
  font-size: inherit;
  text-transform: uppercase;
}

h4,
p {
  color: #a0aec0;
}

h5 {
  color: #9f7aea;
}

h6 {
  color: #38b2ac;
}

ins {
  color: #276749;
  background-color: #9ae6b4;
  padding: 2px 6px;
  border-radius: 6px;
  text-decoration: none;
}

del {
  color: #9b2c2c;
  background-color: #feb2b2;
  padding: 2px 6px;
  border-radius: 6px;
  text-decoration: none;
}

@media print {
  body,
  pre,
  code,
  summary,
  details,
  button,
  input,
  textarea {
    background-color: #fff;
  }

  button,
  input,
  textarea {
    border: 1px solid #000;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  s pre,
  code,
  button,
  input,
  textarea,
  footer,
  summary,
  strong {
    color: #000;
  }

  summary::marker {
    color: #000;
  }

  summary::-webkit-details-marker {
    color: #000;
  }

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  a {
    color: #00f;
    text-decoration: underline;
  }
} */
