/* Badges
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code,
kbd {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 85%;
  white-space: nowrap;
  border-radius: 0.4rem;
  text-decoration: none;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  color: var(--grey-700);
  background-color: var(--grey-100);
}

code {
  color: var(--grey-100);
  background-color: var(--grey-700);
}

pre {
  overflow: auto;
}

pre > kbd,
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
}
