/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #fff;
  --black: #000;

  --grey-500: #fafafa;
  --grey-100: #f4f4f4;
  --grey-200: #e4e4e6;
  --grey-300: #e2e8f0;
  --grey-400: #cbd5e0;
  --grey-500: #a3a2a8;
  --grey-600: #6e6e76;
  --grey-700: #403f45;
  --grey-800: #2f2e33;
  --grey-900: #1d1d1f;

  --blue-50: #e3f2fd;
  --blue-100: #bbdefb;
  --blue-200: #90caf9;
  --blue-300: #64b5f6;
  --blue-400: #42a5f5;
  --blue-500: #2196f3;
  --blue-600: #1e88e5;
  --blue-700: #1976d2;
  --blue-800: #1565c0;
  --blue-900: #0d47a1;
}
